# Deploy Firebase Functions
name: Deploy Firebase Functions
on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'
      - 'firebase.json'
  pull_request:
    paths:
      - 'functions/**'
      - 'firebase.json'

permissions:
  contents: read
  id-token: write

jobs:
  build_and_deploy_functions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Setup Firebase CLI
        uses: w9jds/setup-firebase@main
        with:
          gcp_sa_key: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_BOTRACING_61 }}
          project_id: botracing-61

      - name: Install Firebase CLI globally
        run: npm install -g firebase-tools

      - name: Deploy Firebase Functions
        run: firebase deploy --only functions
